body {
	background-color:grey; 
}
form {
	margin-left: 30%;
	background-color: white;
	width: 300px;
	padding: 100px;
	border-radius: 10px;
	border:4px solid black ;
}
h1{
	margin-left: 5%;
}
button{
	width: 75px;
	height: 30px;
	margin-left: 165px;
}
.pass {
	margin-left: 3px;
}
.error{
	position: absolute;
	left:35%;
}